body{
  margin: 0;
  background-color:#CFA5B4;
  display: flex;
}

#container {
  background-color: white;
  width: 800px;
  height:500px;
  border: 1px solid plum;
  justify-content: center;
  align-items: center;
}

h1{
  margin:0;
}
