* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #9f8082;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

.info {
  width: 200px;
  height: 640px;
  margin-right: 40px;
  display: flex;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
}

.time,
.points {
  width: 150px;
  height: 40px;
  text-align: center;
}

#point,
#timeLeft {
  padding: 10px;
  background-color: #ad9b9a;
  font-size: 24px;
  border: 2px solid #651204;
  border-radius: 5px;
}

h2,
p {
  color: #651204;
}

.container {
  width: 640px;
  height: 640px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  background-color: whitesmoke;
  border-radius: 10px;
  perspective: 1000px;
}

.card {
  width: calc(25% - 10px);
  height: calc(25% - 10px);
  margin: 5px;
  position: relative;
  cursor: pointer;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  border-radius: 5px;
  background-color: whitesmoke;
  border: 2px solid #ad9b9a;
}

.card:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

.card.flip {
  transform: rotateY(180deg);
}

.shake {
  animation: shake 0.35s ease-in-out;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0) rotateY(180deg);
  }
  20% {
    transform: translateX(-13px) rotateY(180deg);
  }
  40% {
    transform: translateX(13px) rotateY(180deg);
  }
  60% {
    transform: translateX(-8px) rotateY(180deg);
  }
  80% {
    transform: translateX(8px) rotateY(180deg);
  }
}

.view {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 20px;
  /* border-radius: 5px;
  background-color: whitesmoke;
  border: 2px solid #ad9b9a; */
  backface-visibility: hidden;
}

.front-view {
  transform: rotateY(180deg);
}
