* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

.info {
  width: 200px;
  height: 640px;
  margin-right: 40px;
  display: flex;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
}

.time,
.points {
  width: 150px;
  height: 40px;
  text-align: center;
}

#point,
#timeLeft {
  padding: 10px;
  background-color: rgba(255,255,255, 0.95);
  font-size: 24px;
  border: 2px solid #d4bada;
  border-radius: 5px;
}

h2,
p {
  color: #e71b64;
}

.startPage {
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  top:0;
  z-index: 2;
}

.startPageContainer {
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.title {
  font-size: 70px;
  color: #e71b64;
  margin-bottom: 10px;
}

.startPage h2 {
  margin-top: 20px;
}

.container {
  width: 640px;
  height: 640px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  background:rgba(255,255,255, 0.3);
  border-radius: 10px;
  perspective: 1000px;
}

.rows-col-16 {
  width: calc(25% - 10px);
  height: calc(25% - 10px);
}

.rows-col-36 {
  width: calc(16.66% - 10px);
  height: calc(16.66% - 10px);
}

.card {
  margin: 5px;
  position: relative;
  cursor: pointer;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  border-radius: 5px;
  background-color: rgba(255,255,255, 0.8);
}

.card:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

.card.flip {
  transform: rotateY(180deg);
}

.shake {
  animation: shake 0.35s ease-in-out;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0) rotateY(180deg);
  }
  20% {
    transform: translateX(-13px) rotateY(180deg);
  }
  40% {
    transform: translateX(13px) rotateY(180deg);
  }
  60% {
    transform: translateX(-8px) rotateY(180deg);
  }
  80% {
    transform: translateX(8px) rotateY(180deg);
  }
}

.view {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 20px;
  backface-visibility: hidden;
}

.front-view {
  transform: rotateY(180deg);
}

.endPageContainer {
  background:rgba(212,186,218, 0.98);
  height: 42%;
  width: 32%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 10px;
  text-align: center;
}

#start-btn-16, #start-btn-36 {
  cursor: pointer;
  color: #e71b64;
  margin: 50px 40px;
  padding: 10px;
  background-color:  #d4bada;
  font-size: 24px;
  border: 2px solid  #e71b64;
  border-radius: 5px;
}

#reset {
  cursor: pointer;
  color: #d4bada;
  margin: 30px 40px;
  padding: 10px;
  /* background-color: #c7e8f7; */
  font-size: 18px;
}

.hide {
  display: none;
}
